*{
    margin: 0;
    padding: 0;
}

header{
    padding: 5px;
    color: white;
    background-color: rgb(54, 54, 223);
}
.title{
    display: flex;
    align-items: center;
}
h1{
    margin: 5px;
    font-size: 35px;
}
h2{
    margin: 5px;
    font-size: 20px;
}
main{
    display: flex;
    
}
.section{
    width: 20%;
    /* min-height: 100vh; */
    background-color: rgb(205, 197, 197);
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
    
}
a{
    color: black;
    text-decoration: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a div{
    width: 30px;
    
}
a .a-text{
    width: 70px;
}
a i{
    justify-content:flex-end;
    align-items: center;
}


.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 100px;
}
.box{
    width: 300px;
    height: 200px;
    border: 1px solid;
    border-radius: 5%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.box-title{
    position: absolute;
    top: 15px;
    left: 10px;
}
.box-compare{
    position: absolute;
    bottom: 85px;
    left: 10px;
}
.box-cancel,.box-writeOffCount{
    position: absolute;
    bottom: 55px;
    left: 10px;
}