*{
    margin: 0;
    padding: 0;
}
.container{
    width: 700px;
    margin: 30px;
    justify-content: center;
    align-items: center;
}
/* 標題 */
.title{
    margin: 20px 20px;
    
}
h2{
    color: blue;
}

.line-bottom {
    width: 100%;
    height: 1px;
    border: solid #ACC0D8 1px;
    opacity: 0.1;
    justify-content: center;
    align-items: center;
}
/* 資料 */
.data{
    border: 1px solid #ACC0D8;
    border-radius: 5px;
    
}

.oldPassword,.newPassword,.confirmPassword{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px ;
}
.input-area{
    width: 500px;
    display: flex;
}
input,select{
    width: 100%;
    height: 23px;
}
/* 按鈕 */
.btn-area{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.cancel{
    margin-left: 20px;
}
.storge{
    margin-right: 20px;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

.btn-storge{
    background-color: rgb(54, 159, 54);
    color: white;
}