<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div>
        <input id="additem" type="text">
        <button @click="addtodo">新增</button>
    </div>
    <div v-for="item in list">
        <input id="index" type="checkbox" v-model="item.ischecked">
        <input type="text" v-model="item.title" disabled>
        <button id="rewrite">修改</button>
        <button id="delete">刪除</button>
    </div>

    <script>
        const input = new Vue({
            el:'#additem',
            data:{
                
                obj:{},
                
                list:[
                    {ischecked: false, title:'AAAAA'},
                    {ischecked: false, title:'BBBBB'},
                    {ischecked: false, title:'CCCCC'}
                ]
            },
            methods:{
                addtodo(){
                    
                    
                }
            }
        })
    </script>
</body>
</html>