<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="additem">
        <input  type="text" v-model="inputval">
        <button>新增</button>
        
    </div>
    <div v-for="item in list">
        <input type="checkbox">
        <input type="text" disabled>
        <button>修改</button>
        <button>刪除</button>
    </div>

    <script>
        const item = new Vue({
            el:'#additem',
            data:{
                inputval:'',
                list:[
                    {ischecked: false, title:item.inputval}
                ]
                
                
            },
        })
    </script>
</body>
</html>